body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gainsboro;
    height: 100vh;
    background-image: url("images/premium_photo-1675765793965-b5b4d394b51f.jpeg");
    background-image: url("images/ -9.jpg");
    background-image: url("images/among.jpg");
    background-size: cover;
    /* background: linear-gradient(70deg, yellow, grey); */
    /* color: white;
    text-shadow: 0 0 20px black, 0 0 30px purple; */
    color: white; 
}

h1 {
    text-align: center;
}

.container {
    /* width: 1000px; */
    /* background-color: white; */
    display: flex;
    gap: 70px;
    align-items: flex-end;
    padding: 60px 40px;
    border-radius: 10px;
    height: 500px;
    /* background-image: url("images/high-angle-view-of-blank-blue-lined-paper-with-textured-wrinkled-background-photo.jpg"); */
}

.hangman-box img{
    max-width: 270px;
    margin-bottom: 47%;
}

.hangman-box h1 {
    font-size: 1.45rem;
    /* margin-top: 20px; */
    text-align: center;
    color: white;
}

.word-display {
    display: flex;
    gap: 10px;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.word-display .letter {
    width: 28px;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    border-bottom: 3px solid white;
}

.game-box h4 {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.game-box b {
    font-weight: 700;
}

.game-box .guesses-text b {
    color: red;
}

.game-box .keyboard {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 19%;
}

.keyboard button {
    font-size: 1rem;
    font-weight: 600;
    width: 10%;
    cursor: pointer;
    outline: none;
    /* background-color: blueviolet; */
    text-transform: capitalize;
    color: black;
    border-radius: 15px;
    background-color: white;
}

.keyboard button:hover{
    background: grey;
}

button:disabled {
    background-color: gray; /* Change background color to indicate disabled state */
    color: white; /* Change text color */
    cursor: not-allowed; /* Change the cursor to indicate it can't be clicked */
}


/* ------------------------------------------------------------------------------------ */

.game-model{
    position: fixed;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;   
    display: none; 

} 

.game-model .content{
    background: wheat;
    max-width: 420px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.game-model img { 
    max-width: 130px;
    margin-bottom: 20px;
}


.game-model h4{
    font-size: 1.53rem;
}

.game-model p{
    font-size: 1.15rem;
    margin: 15px 0 30px;
    font-weight: 500;
}

.game-model button{
    padding: 12px 23px;
    border-radius: 12px;
    cursor: pointer;
}



/* ------------------------------------------------------------------------------------ */
.con {
    display: flex;
    justify-content: flex-end;
}

.play-again {
    font-size: 1rem;
    font-weight: 600;
    width: 100px;
    cursor: pointer;
    outline: none;
    text-transform: capitalize;
    color: black;
    border-radius: 15px;
    background-color: white;
}